#content
    .container
        .row
            .col-md-12
                h1#h1-heading
                    | Ethra - Antrag auf Genehmigung eines Forschungsvorhabens
                h3
                    | Zusammensetzung
                p Die Ethikkommission der Pädagogischen Hochschule FHNW besteht aus folgenden Personen:
                h3
                    | Externe Mitglieder
                ul
                    li Dr. Stefan Denzler, Mitglied des Fachhochschulrats und Stellvertretender Direktor der Schweiz. Koordinationsstelle für Bildungsforschung
                    li Katrin Gossner, Kinder- und Jugendpsychologin, Leiterin Sektion Schulpsychologie, Abteilung Volksschule, Kanton Aargau
                h3
                    | Interne Mitglieder
                ul
                    li Prof. Dr. Wassilis Kassis, Geschäftsführung Ethikkommission, Leiter des Instituts Forschung und Entwicklung (quantitative Forschung, Mixed-Methods)
                    li Prof. Dr. Patrick Bühler, Leiter der Professur Allgemeine und Historische Pädagogik, IP (historische Forschung)
                    li Prof. Dr. Markus Neuenschwander, Professor für Pädagogische Psychologie, Leiter des Forschungszentrums Lernen und Sozialisation, IFE
                    li Prof. Dr. Regula Julia Leemann, Leiterin der Professur Bildungssoziologie, ISEK
                p Die Geschäftsführung liegt beim Leiter des Instituts Forschung und Entwicklung, Prof. Dr. Wassilis Kassis, Auskunft:
                p
                    | Auskunft:&nbsp;
                    a(href='mailto:ethikkommission.ph@fhnw.ch') ethikkommission.ph@fhnw.ch
