if access===true
    #content.main
        .container
            .row
                .col-md-12
                    h1#h1-heading
                        | Ethra - Antrag auf Genehmigung eines Forschungsvorhabens
                        br
            .row
                p
                    | Die Ethikkommission der Pädagogischen Hochschule FHNW beurteilt Forschungs- und Entwicklungsprojekte der PH FHNW, die hinsichtlich ihres Konzepts ethische Fragen aufwerfen und steht den Forschenden für die Beurteilung zur Verfügung.
                p
                    | Die Ethikkommission unterstützt die Forschenden bei der Beurteilung von potenziell risikoträchtigen Forschungsprojekten. Zur Bestimmung derselben liegt der <a href="static/download/Weisung-forschung-mit-kindern.pdf" target="_blank">Weisung zur Gewährleistung der ethischen Unbedenklichkeit für Forschung und Entwicklung an der PH FHNW</a> eine Checkliste für die Selbstbeurteilung bei. Im Falle von Ja-Antworten in der Selbstbeurteilung ist ein
                a(href='/ethra/form')
                    button.btn.btn-secondary.btn-lg(type='button')
                        i.fas.fa-plus-square
                        |  Neuer Antrag
                p
                    |    an die Ethikkommission zu stellen.
                br
                br
                p
                    | Die Aufgaben der Kommission sind wie im Reglement festgehalten:
                    br
                    a(target='_blank' href='static/download/60.20_Reglement_Ethikkommission.pdf')
                        | 60.20 Reglement über die Ethikkommission
            br
            .alert.alert-secondary.cookiealert(role='alert')
                .container
                    .row
                        .col-10
                            p
                                | Indem Sie diesen Hinweis schliessen oder mit dem Besuch der Seite fortfahren, akzeptieren Sie die
                                | Verwendung von Cookies. Weitere Informationen dazu finden Sie unter
                                |
                                a(href='/ethra/datenschutz' target='_blank') Datenschutz
                                | .
                        .col-2.mt-3
                            button.btn.btn-secondary.btn-sm.acceptcookies.float-right.pl-3.pr-3(type='button' aria-label='Close')
                                | Ok
else
    script(type='text/javascript' src="/ethra/static/js/libs/jquery.js")                                                                                                             button.btn.btn-secondary.btn-sm(type='button' data-dismiss='modal')
    script(type='text/javascript').
        window.location.replace('./Shibboleth.sso/Session')



